<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input type="text" class="new-todo" placeholder="todo text" [(ngModel)]="newTodoText" (keyup.enter)="addTodo(newTodoText.value)">
  </header>

  <section class="main">
    <ul class="todo-list">
      <li *ngFor="let todo of todos">
        <div class="view">
          <input type="checkbox" class="toggle" id="{{'todo' + todo.id}}" [(checked)]="todo.completed" (change)="toggleDone(todo)">
          <label for="{{'todo' + todo.id}}">{{todo.text}}</label>
          <button type="button" class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
      <li *ngIf="filter !== 'All' && !todos.length" class="no-items">No items</li>
    </ul>
  </section>

  <footer class="footer" *ngIf="filter !== 'All' || todos?.length">
    <span class="todo-count">
      <strong>{{getItemsFlag(false).length}}</strong>
      {{getItemsFlag(false).length === 1 ? 'item' : 'items'}} left
    </span>
    <ul class="filters">
      <li>
        <a href="#" (click)="changeFilter('All')" class="{{filter === 'All' ? 'selected' : ''}}">All</a>
      </li>
      <li>
        <a href="#" (click)="changeFilter('Active')" class="{{filter === 'Active' ? 'selected' : ''}}">Active</a>
      </li>
      <li>
        <a href="#" (click)="changeFilter('Completed')" class="{{filter === 'Completed' ? 'selected' : ''}}">Completed</a>
      </li>
    </ul>
  </footer>
</section>
