<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form (ngSubmit)="addTodo(todoForm, $event)" #todoForm="ngForm">
      <input name="todo" type="text" class="new-todo" placeholder="todo text" ngModel>
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">
      <li *ngFor="let todo of todos">
        <div class="view">
          <input type="checkbox" class="toggle" id="{{'todo' + todo.id}}" [(checked)]="todo.completed" (change)="toggleDone(todo)">
          <label for="{{'todo' + todo.id}}">{{todo.text}}</label>
          <button type="button" class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
      <li *ngIf="filter !== 'All' && !todos.length" class="no-items">No items</li>
    </ul>
  </section>

  <footer class="footer" *ngIf="filter !== 'All' || todos?.length">
    <span class="todo-count">
      <strong>{{getItemsLeft().length}}</strong>
      {{getItemsLeft().length === 1 ? 'item' : 'items'}} left
    </span>
    <ul class="filters">
      <li>
        <a href="#" (click)="changeFilter('All')" [class.selected]="filter === 'All'">All</a>
      </li>
      <li>
        <a href="#" (click)="changeFilter('Active')" [class.selected]="filter === 'Active'">Active</a>
      </li>
      <li>
        <a href="#" (click)="changeFilter('Completed')" [class.selected]="filter === 'Completed'">Completed</a>
      </li>
    </ul>
  </footer>
</section>
